@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: #eb5d29;
  --black: hsl(0, 0%, 0%);
  --white: #ccc5ba;
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  display: grid;
  place-items: center;
  height: 100vh;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white)!important;
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  height:500px;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  /* height: 50%; */
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}



#app_button {
	background-color: #eb5d29;
	border-radius: 10px;
	border-color: transparent !important;
}

nav {
	background-color: #252422;
	color: #fffcf2;
    width:100%;
}

.nav-item {
	color: #fffcf2;
}

.logo-footer {
	margin-bottom: 40px;
}

footer p,
a {
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	color: #ccc5ba;
}
footer h6 {
	font-family: "Playfair Display", serif !important;
	margin-bottom: 40px;
	position: relative;
	color: #ccc5ba;
}
footer h6:after {
	position: absolute;
	content: "";
	background: #eb5d29;
	width: 12%;
	height: 1px;
	left: 0;
	bottom: -20px;
}
.btn-footer {
	color: #252422;

	text-decoration: none;
	border: 1px solid;
	border-radius: 43px;
	font-size: 13px;
	padding: 7px 30px;
	line-height: 47px;
}
.btn-footer:hover {
	text-decoration: none;
}

.social .fa {
	color: #252422;
	font-size: 22px;
	padding: 10px 15px;
}
footer ul li {
	list-style: none;
	display: block;
}
footer ul {
	padding-left: 0;
}
footer ul li a {
	text-decoration: none;
	color: #ccc5ba;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #eb5d29 !important;
}
.logo-part {
	border-right: 1px solid #eb5d29;
	height: 100%;
}

h1#title-footer {
	font-family: "Oswald", sans-serif;
}

a.nav-link {
	color: #ccc5ba !important;
}

a.nav-link:hover {
	text-decoration: none;
	color: #eb5d29;
}

#nav-title {
	font-family: "Oswald", sans-serif;
	color: #eb5d29;
}

footer {
    background-color: #403d39!important;
}

body {
    background-color: #252422!important;
}

h1 {
    color: #eb5d29!important;;
}

.d-grid {
    justify-content: space-around;
}

div.container.d-grid {
    margin: 40px;
    padding-bottom: 40px;
}