header, #description {
    background-color: #403D39;
    color: #FFFFFF;
}

#user-feelings{
position: absolute;
/* width: 1206px;
height: 597px;
left: 0px;
top: 851px; */
background: #252422;
color: #FFFFFF;
}

footer {
position: relative;
/* width: 1206px;
height: 221px; */
background: #CCC5B9;
}