html {
	height: 100%;
	width: 100%;
	background: #403d39;
}

body {
	background-color: #403d39;
	color: #ffffff;
	text-align: center;
	height: 100%;
	width: 100%;
}

div:not(#nav-element) {
	font-family: "Fanwood Text";
	font-style: normal;
	font-weight: 400;
	color: #fffcf2;
	text-align: center;
	background-color: #403d39;
}

h3 {
	text-align: left;
}

#app_button {
	background-color: #eb5d29;
	border-radius: 10px;
	border-color: transparent !important;
}

nav {
	background-color: #252422;
	color: #fffcf2;
}

.nav-item {
	color: #fffcf2;
}

#description {
	background-color: #403d39;
	padding-right: 2em;
	margin-bottom: 1em;
}
header {
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 50px;
	height: 100%;
	width: 100%;
	background-color: #403d39;
	color: #fffcf2;
	line-height: 85px;
}

/* #midsection{
	height:100vh;
	width:100vw;
} */

div#user_feelings.row {
	padding-bottom: 3em;
	background-color: #252422;
	font-size: 25px;
	line-height: 33px;
	padding-top: 4em;
	height:100%;
	width:100%;
}

#button-section {
	background-color: #252422;
}

#space-div {
	background-color: #403d39;
}

div#feeling-title.col {
	background-color: #252422;
}

#title {
	font-size: 1.5em;
}

#button-bootstrap {
	padding-top: 4em;
	background-color: transparent !important;
}

body {
	font-family: "Signika", sans-serif !important;
}

.logo-footer {
	margin-bottom: 40px;
}
footer p,
a {
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	color: #ccc5ba;
}
footer h6 {
	font-family: "Playfair Display", serif !important;
	margin-bottom: 40px;
	position: relative;
	color: #ccc5ba;
}
footer h6:after {
	position: absolute;
	content: "";
	background: #eb5d29;
	width: 12%;
	height: 1px;
	left: 0;
	bottom: -20px;
}
.btn-footer {
	color: #252422;

	text-decoration: none;
	border: 1px solid;
	border-radius: 43px;
	font-size: 13px;
	padding: 7px 30px;
	line-height: 47px;
}
.btn-footer:hover {
	text-decoration: none;
}

.social .fa {
	color: #252422;
	font-size: 22px;
	padding: 10px 15px;
}
footer ul li {
	list-style: none;
	display: block;
}
footer ul {
	padding-left: 0;
}
footer ul li a {
	text-decoration: none;
	color: #ccc5ba;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #eb5d29 !important;
}
.logo-part {
	border-right: 1px solid #eb5d29;
	height: 100%;
}

h1#title-footer {
	font-family: "Oswald", sans-serif;
}

a.nav-link {
	color: #ccc5ba !important;
}

a.nav-link:hover {
	text-decoration: none;
	color: #eb5d29;
}

#nav-title{
	font-family: "Oswald", sans-serif;
	color:#eb5d29
}
/* Credit to https://bootsnipp.com/snippets/M56El  */
