header, #description {
    background-color: #403D39;
    color: #FFFFFF;
}

#user-feelings{
    background-color: #252422;
    color: #FFFFFF;
}

footer {
    background-color: #ccc5ba;
    color: #000;
}